body {
}

#window-wrap {
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.images {
    width: 600px;
    margin: 0 auto;
}

