body {
}

#window-wrap {
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#wrap-block {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#wrap-inner {
    overflow-y: auto;
}

.images {
    width: 600px;
    margin: 0 auto;
}

#popup-content {
    text-align: center;
}