<!DOCTYPE html>
<html lang="en" ng-app="app" id="ng-app">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <title></title>
    </head>
    <body ng-controller="baseController">
        <div class="images">
            <a ng-repeat="image in images" id="image_{{image.id}}" data-popup-window href="{{image.src}}" ng-click="open($event)" data-group="first" class="win-image"><img class="like" width="100" src="{{image.src}}" alt="" /></a>
        </div>
        <hr class="clear" />
        <div>
            <a style="cursor: pointer; display: block; margin: 5px 0;" ng-repeat="image in images" name="{{image.id}}" data-popup-window ng-click="open($event)" id="image_ajax_{{image.id}}" class="win-image-ajax" data-group="free">{{image.title}}</a>
        </div>
        <a href="img/01.jpg" id="image_html_{{image.id}}" data-popup-window ng-click="open($event)" class="win-html">
            <img src="img/02.jpg" alt="" width="200" />
        </a>

        <div data-popup-window ng-click="open($event)" class="win-json">Просто json без картинки</div>

        <script src="js/libs/angular/angular.min.js"></script>
        <script src="js/popup/popup.js"></script>
        <script src="js/main.js"></script>
        <div data-popup-wrap></div>
    </body>
</html>
