<h3>({{index}} из {{count}})</h3>
<a class="full-managment cancel" ng-click="cancelFullScreen()">Обычный вид</a>
<a ng-click="prev()" class="prev nav" ng-show="nav.prev">Назад</a>
<a ng-click="next()" class="next nav" ng-show="nav.next">Вперед</a>
<label id="slideshow" for="slides"><input id="slides" type="checkbox" ng-model="winpopup.slideshow"/>Показ
    слайдов</label>
<div class="fullScreenImage">
    <img src="{{param.src}}" width="{{param.width}}" height="{{param.height}}" alt="" />
</div>