<div id="window-styled-block">
    <div id="window-header" data-window-section="header">
        <b>{{winpopup.content.param.title}}</b>
        <a ng-click="close()" class="close">Закрыть</a>
        <a ng-click="fullScreen()">На весь экран</a>
        <a ng-click="prev()" class="prev nav" ng-show="winpopup.navigation.prev">Назад</a>
        <a ng-click="next()" class="next nav" ng-show="winpopup.navigation.next">Вперед</a>
    </div>
    <div id="content" data-window-section="content">

    </div>
    <div id="window-footer" data-window-section="footer">
        {{winpopup.content.param.description}}
        <h3>Номер: {{winpopup.content.param.id}}</h3>
    </div>
</div>