<div id="window-styled-block">
    <div id="window-header" data-window-section="header">
        <b>{{winpopup.content.param.title}}</b>
        <a ng-click="close()" class="close">Закрыть</a>
        <a ng-click="prev()" class="prev nav" ng-show="winpopup.navigation.prev">Назад</a>
        <a ng-click="next()" class="next nav" ng-show="winpopup.navigation.next">Вперед</a>
    </div>
    <div id="content" data-window-section="content">
        <!--<div id="fullScreen" data-window-section="fullscreen">
            <div  ng-show="winpopup.fullscreen">
                <h3>({{winpopup.index}} из {{winpopup.counter}})</h3>
            <a class="full-managment cancel" ng-click="cancelFullScreen()">Обычный вид</a>
            <a ng-click="prev()" class="prev nav" ng-show="winpopup.navigation.prev">Назад</a>
            <a ng-click="next()" class="next nav" ng-show="winpopup.navigation.next">Вперед</a>
                <label id="slideshow" for="slides"><input id="slides" type="checkbox" ng-model="winpopup.slideshow"/>Показ слайдов</label>
            </div>-->
            <img src="{{winpopup.content.src}}" alt="" width="{{winpopup.content.width}}" height="{{winpopup.content.height}}"/>
        <!--</div>-->
    </div>

    <div id="window-footer" data-window-section="footer">
        {{winpopup.content.param.description}}
        <h3>({{winpopup.index}} из {{winpopup.counter}})</h3>
        <a ng-click="fullScreen()">Полноэкранный режим</a>
    </div>
</div>